boto3==1.40.16
catboost==1.2.8
dill==0.4.0
evidently==0.7.12
fastapi==0.116.1
from-root==1.3.0
httptools==0.6.4
imbalanced-learn==0.14.0
ipykernel==6.30.1
Jinja2==3.1.6
mypy-boto3-s3==1.40.0
neuro-mf==0.0.5
pyarrow==21.0.0
pymongo==4.14.1
python-dotenv==1.1.1
python-multipart==0.0.20
seaborn==0.13.2
setuptools==80.9.0
watchfiles==1.1.0
websockets==15.0.1
xgboost==3.0.4
-e .